python-dotenv
daily-python
pyaudio
requests
numpy
sounddevice
pvporcupine
rpi_ws281x
adafruit-circuitpython-neopixel
# adafruit-circuitpython-mpu6050
bleak
adafruit-blinka
adafruit-circuitpython-ads1x15
adafruit-circuitpython-drv2605